# AART Remora Programmer — ESP32-S2 default configuration
CONFIG_IDF_TARGET="esp32s2"
CONFIG_UART_NUM=1
CONFIG_UART_TX=33
CONFIG_UART_RX=16
CONFIG_LED_PIN=15
CONFIG_LED_INV=n
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
